@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Home" asp-action="Alunos" class="btn btn-primary">Lista Alunos</a>
    <a asp-controller="Home" asp-action="EditAluno" class="btn btn-primary">Add Aluno</a>
</div>
